In [1]:
# import libraries
import pandas as pd
import numpy as np

import matplotlib, matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("pharmacy.csv")

In [5]:
df.head()

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay
0,2022-01-02,Pharmacy #6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39
1,2022-01-02,Pharmacy #42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02
2,2022-01-02,Pharmacy #37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39
3,2022-01-02,Pharmacy #30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84
4,2022-01-02,Pharmacy #18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13910244 entries, 0 to 13910243
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   tx_date      object
 1   pharmacy     object
 2   diagnosis    object
 3   drug         object
 4   bin          int64
 5   pcn          object
 6   group        object
 7   rejected     bool
 8   patient_pay  float64
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 862.3+ MB

In [7]:
df['drug'].unique()

array(['branded tanoclolol', 'branded oxasoted', 'branded cupitelol',
       'generic oxasoted', 'branded mamate', 'branded lalol',
       'branded foxivelule', 'generic foxivelule',
       'generic tafistitrisin', 'branded prazinib', 'generic momudobatin',
       'branded gentipapavir', 'branded cibroniudosin',
       'generic prazinib', 'branded rulfalol', 'generic keglusited',
       'branded pucomalol', 'generic tanoclolol', 'generic pucomalol',
       'generic cupitelol', 'branded glycontazepelol',
       'branded glycogane', 'generic cicrochoric', 'generic rulfalol',
       'branded satrade', 'branded tovane', 'generic suvinicuvir',
       'branded semufolic', 'branded sorine', 'generic ratin',
       'generic hozirol', 'generic glycontazepelol', 'branded dienulol',
       'generic hivir', 'branded diadaric', 'branded mule',
       'branded tocilic', 'generic cibroniudosin', 'branded gorol',
       'generic tovane', 'generic simarol', 'generic gorol',
       'generic vocopirin', 'branded cycloxasonol', 'generic bovirol',
       'branded brede', 'generic brede', 'branded nusudaric',
       'branded momudobatin', 'branded hidizuzunib', 'branded nephelilin',
       'branded colifunene', 'branded antimab', 'generic lalol',
       'branded plazamiglutic', 'branded vivafastat', 'generic dienulol',
       'branded tugesutin', 'branded suvinicuvir', 'branded cicrochoric',
       'branded ratin', 'branded hivir', 'branded pheromycin',
       'branded isobrovelin', 'generic colifunene',
       'branded flacelfatastat', 'branded choxestamenium',
       'branded colade', 'branded dusin', 'branded tricatripride',
       'branded fazipilin', 'branded hozirol', 'branded tocrocin',
       'generic colade', 'generic sorine', 'branded glulune',
       'branded fumiluric', 'branded bovirol', 'branded kediborin',
       'branded ribosatharin', 'branded keglusited',
       'branded genetramycicin', 'branded tafistitrisin',
       'generic ribosatharin', 'branded todiadianic', 'generic glulune',
       'branded spifistime', 'branded nicotilin', 'branded cuxirin',
       'generic satrade', 'branded notin', 'generic cycloxasonol',
       'branded simarol', 'branded gosate', 'branded monemodiase',
       'branded debome', 'generic lixegimoric', 'branded sacrode',
       'branded lixegimoric', 'branded vocopirin',
       'branded prefluflomycin', 'generic thiostasteglume',
       'branded flalurin', 'generic todiadianic',
       'branded thiostasteglume', 'generic gohevitravir',
       'branded sizubesin', 'branded lehydrome', 'generic fumiluric',
       'branded masonic', 'branded devacin', 'branded pranic',
       'branded gohevitravir', 'branded nenizevir'], dtype=object)

In [8]:
df[['brand', 'drug_name']] =df.drug.str.split(expand=True)

In [9]:
df.head()

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay,brand,drug_name
0,2022-01-02,Pharmacy #6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39,branded,tanoclolol
1,2022-01-02,Pharmacy #42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02,branded,oxasoted
2,2022-01-02,Pharmacy #37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39,branded,cupitelol
3,2022-01-02,Pharmacy #30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84,generic,oxasoted
4,2022-01-02,Pharmacy #18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00,branded,mamate

In [10]:
from datetime import date
import datetime

In [24]:
% date1time =datetime.datetime.strptime(df.iloc[1]['tx_date'], "%Y-%m-%d")

In [28]:
% df['date'] = datetime.datetime.strptime(df[['tx_date']], "%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not DataFrame

In [29]:
% df['date'] = pd.to_datetime(df['tx_date']).dt.date

In [11]:
df['month'] = pd.to_datetime(df['tx_date']).dt.month

In [12]:
df.head()

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay,brand,drug_name,month
0,2022-01-02,Pharmacy #6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39,branded,tanoclolol,1
1,2022-01-02,Pharmacy #42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02,branded,oxasoted,1
2,2022-01-02,Pharmacy #37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39,branded,cupitelol,1
3,2022-01-02,Pharmacy #30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84,generic,oxasoted,1
4,2022-01-02,Pharmacy #18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00,branded,mamate,1

In [39]:
df['diagnosis_letter'] = df['diagnosis'].str.extract('(\D+)') 

df['diagnosis_number'] = df['diagnosis'].str.extract('(\d+\.\d+)').astype(float)

In [40]:
df.head()

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay,brand,drug_name,month,diagnosis_letter,diagnosis_number
0,2022-01-02,Pharmacy #6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39,branded,tanoclolol,1,G,99.93
1,2022-01-02,Pharmacy #42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02,branded,oxasoted,1,U,60.52
2,2022-01-02,Pharmacy #37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39,branded,cupitelol,1,Q,85.91
3,2022-01-02,Pharmacy #30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84,generic,oxasoted,1,U,60.52
4,2022-01-02,Pharmacy #18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00,branded,mamate,1,N,55.01

In [18]:
df[df['diagnosis_letter']=='U']['drug_name'].unique()

array(['oxasoted', 'foxivelule', 'keglusited', 'tovane', 'glycogane',
       'momudobatin', 'sorine', 'colifunene', 'ratin', 'prazinib',
       'glulune', 'tugesutin', 'notin', 'hidizuzunib', 'monemodiase',
       'mule', 'nicotilin'], dtype=object)

In [19]:
df['diagnosis_letter'].unique()

array(['G', 'U', 'Q', 'N', 'K', 'I', 'M', 'P', 'C', 'E', 'H', 'W', 'Z',
       'Y', 'V', 'B', 'D', 'X', 'A', 'R', 'L', 'J', 'T', 'O', 'S'],
      dtype=object)

In [49]:
drug = df['drug_name'].unique()

In [23]:
df[df['diagnosis_letter']=='G']['drug_name'].unique()

array(['tanoclolol', 'prazinib', 'hozirol', 'gorol', 'simarol', 'bovirol',
       'pucomalol', 'dienulol', 'rulfalol', 'fumiluric', 'hidizuzunib',
       'plazamiglutic', 'choxestamenium', 'cicrochoric', 'isobrovelin',
       'nicotilin', 'lalol', 'cupitelol', 'glycontazepelol', 'diadaric',
       'glulune', 'colifunene', 'nusudaric', 'tocrocin', 'nephelilin',
       'ratin', 'sorine', 'momudobatin', 'lixegimoric', 'devacin'],
      dtype=object)

In [42]:
new_df = df[~df["pharmacy"].str.contains('Pharmacy')]

In [43]:
new_df.head()

Empty DataFrame
Columns: [tx_date, pharmacy, diagnosis, drug, bin, pcn, group, rejected, patient_pay, brand, drug_name, month, diagnosis_letter, diagnosis_number]
Index: []

In [44]:
df['pharmacy'] = df['pharmacy'].str.extract('(\d+)').astype(int)

In [45]:
df.head()

,tx_date,pharmacy,diagnosis,drug,bin,pcn,group,rejected,patient_pay,brand,drug_name,month,diagnosis_letter,diagnosis_number
0,2022-01-02,6,G99.93,branded tanoclolol,725700,1UQC,NaN,False,13.39,branded,tanoclolol,1,G,99.93
1,2022-01-02,42,U60.52,branded oxasoted,664344,NaN,52H8KH0F83K,False,7.02,branded,oxasoted,1,U,60.52
2,2022-01-02,37,Q85.91,branded cupitelol,725700,1UQC,NaN,False,13.39,branded,cupitelol,1,Q,85.91
3,2022-01-02,30,U60.52,generic oxasoted,571569,KB38N,6BYJBW,False,10.84,generic,oxasoted,1,U,60.52
4,2022-01-02,18,N55.01,branded mamate,664344,NaN,ZX2QUWR,False,47.00,branded,mamate,1,N,55.01

In [46]:
df.to_csv('pharmacy_new.csv')

In [52]:
bin = df['bin'].unique()
print(bin)

[725700 664344 571569  96934 539437 322463 757349 691847 160389 956971
 718350 756120]

In [55]:
pcn = df['pcn'].unique()
print(pcn)

['1UQC' nan 'KB38N' 'S76J7V6' '327CKV' 'CS8580' 'MSCXSG' 'NC7EN' 'KBOSN'
 '3O71UTS' 'ZQPX' 'T52GV' 'N098KI' 'DY4B' 'AZUO5U' '3Y5ZW0' 'RB7UU'
 'RM0HB' 'BIZF' 'RAM3J' 'TAZ5W' 'WM6A' 'J5DT8' 'YFVIA' 'W1LW9Y' 'OO0E'
 'BZ22Z2' 'P4LC' '6ZGS97C' '9D24' 'T17LNK' 'TPJD' 'REGLCC' 'YICC41'
 'XH4T3' '7THOQ5' 'CG3ZWQ' 'IF448' 'NG4CS' '2TIC' 'MQWH09H' '393U'
 '9C5MOR3' 'YL5CMT' '9FU70' 'ULM7G' 'W7L3' 'K5KDJ7G' 'FX2Z']

In [56]:
group = df['group'].unique()
print(group)

[nan '52H8KH0F83K' '6BYJBW' 'ZX2QUWR' 'IOEAN1DWVV3Y' '1CAHL' 'HO8HUGL'
 'STGRDKR1J5RD' 'DGLGRYP' 'I4UYEP84W3' 'KZWQDIHCLLHD1' 'EVD4X5' '6SP1DG'
 'IGN6JL34H37D' 'RS5RB3YA' 'SJVO3GXUURRGO' 'QK6BI1N61' '7DUPMODV0'
 'T51T6V2E8L' 'L9QZA' 'IX6P0' 'AJK5MZ25T9IA' '0OGKQ' 'HPVSQW7M8'
 'ZOYKF0N5NEO' 'O19XSLDEFB' 'VC81HUO7ZD' 'YY6B1J4E8KJ3' 'DYGBI610ZY'
 'Z01MLD4I' '7LL04USF' 'BH2Q8B3GY2GAV' 'MP3IQ' '9R3Z3QKDF3' 'GOM8K0'
 'FZPLF4O6FD' 'GQIGYFQQ2WGH' 'XK8RM5E75ZW' '0TZ9XYJZJH' '7Q756WMLLV25X'
 'XY5GQQ9' 'S2QKZ0OFNWS6X' 'U19J4RVCA' 'RGVK1' 'V96T9QL5' '77MAJF66DGD'
 'TFZOR5R49' '1N5IRQ' 'OD99VAJGWV']

In [57]:
df.groupby('bin')['pcn'].value_counts()

bin     pcn
96934   S76J7V6     777502
        9D24         93238
160389  RB7UU       261912
322463  3O71UTS     690356
        T52GV       364750
        YICC41      132469
        3Y5ZW0      126536
        9FU70        83021
        ULM7G        30128
        393U         28893
539437  RAM3J        47895
        CG3ZWQ       25218
571569  KB38N       594959
        W7L3         40076
        YL5CMT       34869
        FX2Z         20263
664344  CS8580      305315
        YFVIA       291860
        DY4B        238438
        TPJD        226317
        T17LNK      182746
        TAZ5W       161867
        REGLCC      156307
        IF448       147338
        W1LW9Y      111090
        KBOSN       108027
        BIZF        101105
        AZUO5U       68067
        P4LC         46208
        K5KDJ7G      21030
691847  N098KI      400190
        NC7EN       351568
        6ZGS97C     105167
        2TIC        103804
        ZQPX         96356
        XH4T3        92847
        NG4CS        33271
        MQWH09H      33252
718350  J5DT8       256611
725700  327CKV     1090515
        1UQC        676984
        9C5MOR3     100203
        OO0E         60095
        BZ22Z2       46125
756120  7THOQ5      174520
757349  MSCXSG      713743
        RM0HB       157326
956971  WM6A        272906
Name: pcn, dtype: int64

In [59]:
df.groupby('pcn')['bin'].value_counts()

pcn      bin
1UQC     725700     676984
2TIC     691847     103804
327CKV   725700    1090515
393U     322463      28893
3O71UTS  322463     690356
3Y5ZW0   322463     126536
6ZGS97C  691847     105167
7THOQ5   756120     174520
9C5MOR3  725700     100203
9D24     96934       93238
9FU70    322463      83021
AZUO5U   664344      68067
BIZF     664344     101105
BZ22Z2   725700      46125
CG3ZWQ   539437      25218
CS8580   664344     305315
DY4B     664344     238438
FX2Z     571569      20263
IF448    664344     147338
J5DT8    718350     256611
K5KDJ7G  664344      21030
KB38N    571569     594959
KBOSN    664344     108027
MQWH09H  691847      33252
MSCXSG   757349     713743
N098KI   691847     400190
NC7EN    691847     351568
NG4CS    691847      33271
OO0E     725700      60095
P4LC     664344      46208
RAM3J    539437      47895
RB7UU    160389     261912
REGLCC   664344     156307
RM0HB    757349     157326
S76J7V6  96934      777502
T17LNK   664344     182746
T52GV    322463     364750
TAZ5W    664344     161867
TPJD     664344     226317
ULM7G    322463      30128
W1LW9Y   664344     111090
W7L3     571569      40076
WM6A     956971     272906
XH4T3    691847      92847
YFVIA    664344     291860
YICC41   322463     132469
YL5CMT   571569      34869
ZQPX     691847      96356
Name: bin, dtype: int64

In [58]:
df.groupby('bin')['group'].value_counts()

bin     group
96934   VC81HUO7ZD         93238
160389  RS5RB3YA          261912
322463  HO8HUGL          1010441
        EVD4X5            364750
        MP3IQ             132469
        U19J4RVCA          83021
        0TZ9XYJZJH         75782
        XY5GQQ9            28893
539437  1CAHL             443820
        7DUPMODV0          47895
571569  6BYJBW            594959
        7LL04USF           46678
        V96T9QL5           40076
        OD99VAJGWV         20263
664344  STGRDKR1J5RD      753156
        52H8KH0F83K       507920
        AJK5MZ25T9IA      291860
        YY6B1J4E8KJ3      241607
        Z01MLD4I          182746
        T51T6V2E8L        161867
        BH2Q8B3GY2GAV     156307
        FZPLF4O6FD        147338
        0OGKQ             111090
        QK6BI1N61         101105
        ZX2QUWR            79042
        IGN6JL34H37D       68067
        RGVK1              56637
        O19XSLDEFB         46208
        TFZOR5R49          39997
        1N5IRQ             21030
        77MAJF66DGD        11388
691847  6SP1DG            400190
        I4UYEP84W3        107321
        XK8RM5E75ZW       103804
        KZWQDIHCLLHD1      96356
        GOM8K0             92847
        GQIGYFQQ2WGH       33271
        7Q756WMLLV25X      33252
718350  IX6P0             256611
725700  IOEAN1DWVV3Y     1090515
        DYGBI610ZY        126720
        S2QKZ0OFNWS6X     100203
        HPVSQW7M8          60095
        ZOYKF0N5NEO        46125
757349  DGLGRYP           713743
        SJVO3GXUURRGO     157326
        9R3Z3QKDF3         88372
956971  L9QZA             272906
Name: group, dtype: int64

In [60]:
df.groupby('group')['bin'].value_counts()

group          bin
0OGKQ          664344     111090
0TZ9XYJZJH     322463      75782
1CAHL          539437     443820
1N5IRQ         664344      21030
52H8KH0F83K    664344     507920
6BYJBW         571569     594959
6SP1DG         691847     400190
77MAJF66DGD    664344      11388
7DUPMODV0      539437      47895
7LL04USF       571569      46678
7Q756WMLLV25X  691847      33252
9R3Z3QKDF3     757349      88372
AJK5MZ25T9IA   664344     291860
BH2Q8B3GY2GAV  664344     156307
DGLGRYP        757349     713743
DYGBI610ZY     725700     126720
EVD4X5         322463     364750
FZPLF4O6FD     664344     147338
GOM8K0         691847      92847
GQIGYFQQ2WGH   691847      33271
HO8HUGL        322463    1010441
HPVSQW7M8      725700      60095
I4UYEP84W3     691847     107321
IGN6JL34H37D   664344      68067
IOEAN1DWVV3Y   725700    1090515
IX6P0          718350     256611
KZWQDIHCLLHD1  691847      96356
L9QZA          956971     272906
MP3IQ          322463     132469
O19XSLDEFB     664344      46208
OD99VAJGWV     571569      20263
QK6BI1N61      664344     101105
RGVK1          664344      56637
RS5RB3YA       160389     261912
S2QKZ0OFNWS6X  725700     100203
SJVO3GXUURRGO  757349     157326
STGRDKR1J5RD   664344     753156
T51T6V2E8L     664344     161867
TFZOR5R49      664344      39997
U19J4RVCA      322463      83021
V96T9QL5       571569      40076
VC81HUO7ZD     96934       93238
XK8RM5E75ZW    691847     103804
XY5GQQ9        322463      28893
YY6B1J4E8KJ3   664344     241607
Z01MLD4I       664344     182746
ZOYKF0N5NEO    725700      46125
ZX2QUWR        664344      79042
Name: bin, dtype: int64

In [61]:
df.groupby('group')['pcn'].value_counts()

group          pcn
0OGKQ          W1LW9Y      111090
1N5IRQ         K5KDJ7G      21030
6BYJBW         KB38N       594959
6SP1DG         N098KI      400190
7DUPMODV0      RAM3J        47895
7Q756WMLLV25X  MQWH09H      33252
AJK5MZ25T9IA   YFVIA       291860
BH2Q8B3GY2GAV  REGLCC      156307
DGLGRYP        MSCXSG      713743
EVD4X5         T52GV       364750
FZPLF4O6FD     IF448       147338
GOM8K0         XH4T3        92847
GQIGYFQQ2WGH   NG4CS        33271
HPVSQW7M8      OO0E         60095
IGN6JL34H37D   AZUO5U       68067
IOEAN1DWVV3Y   327CKV     1090515
IX6P0          J5DT8       256611
KZWQDIHCLLHD1  ZQPX         96356
L9QZA          WM6A        272906
MP3IQ          YICC41      132469
O19XSLDEFB     P4LC         46208
OD99VAJGWV     FX2Z         20263
QK6BI1N61      BIZF        101105
RS5RB3YA       RB7UU       261912
S2QKZ0OFNWS6X  9C5MOR3     100203
SJVO3GXUURRGO  RM0HB       157326
T51T6V2E8L     TAZ5W       161867
U19J4RVCA      9FU70        83021
V96T9QL5       W7L3         40076
VC81HUO7ZD     9D24         93238
XK8RM5E75ZW    2TIC        103804
XY5GQQ9        393U         28893
Z01MLD4I       T17LNK      182746
ZOYKF0N5NEO    BZ22Z2       46125
Name: pcn, dtype: int64

In [62]:
df.groupby('pcn')['group'].value_counts()

pcn      group
2TIC     XK8RM5E75ZW       103804
327CKV   IOEAN1DWVV3Y     1090515
393U     XY5GQQ9            28893
9C5MOR3  S2QKZ0OFNWS6X     100203
9D24     VC81HUO7ZD         93238
9FU70    U19J4RVCA          83021
AZUO5U   IGN6JL34H37D       68067
BIZF     QK6BI1N61         101105
BZ22Z2   ZOYKF0N5NEO        46125
FX2Z     OD99VAJGWV         20263
IF448    FZPLF4O6FD        147338
J5DT8    IX6P0             256611
K5KDJ7G  1N5IRQ             21030
KB38N    6BYJBW            594959
MQWH09H  7Q756WMLLV25X      33252
MSCXSG   DGLGRYP           713743
N098KI   6SP1DG            400190
NG4CS    GQIGYFQQ2WGH       33271
OO0E     HPVSQW7M8          60095
P4LC     O19XSLDEFB         46208
RAM3J    7DUPMODV0          47895
RB7UU    RS5RB3YA          261912
REGLCC   BH2Q8B3GY2GAV     156307
RM0HB    SJVO3GXUURRGO     157326
T17LNK   Z01MLD4I          182746
T52GV    EVD4X5            364750
TAZ5W    T51T6V2E8L        161867
W1LW9Y   0OGKQ             111090
W7L3     V96T9QL5           40076
WM6A     L9QZA             272906
XH4T3    GOM8K0             92847
YFVIA    AJK5MZ25T9IA      291860
YICC41   MP3IQ             132469
ZQPX     KZWQDIHCLLHD1      96356
Name: group, dtype: int64

In [71]:
group_null = df['group'].isnull()

In [75]:
df[group_null==True]['pcn']

0              1UQC
2              1UQC
5           S76J7V6
9            CS8580
11          S76J7V6
             ...
13910229    3O71UTS
13910230    3O71UTS
13910237       TPJD
13910242    S76J7V6
13910243    3O71UTS
Name: pcn, Length: 3909025, dtype: object

In [77]:
pcn_null = df['pcn'].isnull()

In [82]:
df[pcn_null==True]['group']

1            52H8KH0F83K
4                ZX2QUWR
7                  1CAHL
8                HO8HUGL
10          STGRDKR1J5RD
                ...
13910225     52H8KH0F83K
13910226    STGRDKR1J5RD
13910234    STGRDKR1J5RD
13910239         HO8HUGL
13910240       TFZOR5R49
Name: group, Length: 3626961, dtype: object

In [1]:
pcngroup_null = df[['pcn','group']].isnull()

NameError: name 'df' is not defined

In [64]:
diagnosis_drug = df.groupby('diagnosis_letter')['drug_name'].value_counts()

In [65]:
diagnosis_drug['A']

drug_name
ribosatharin       2930
vocopirin          2295
tovane             2294
glulune            2285
colifunene         2216
oxasoted           2158
sorine             1656
thiostasteglume    1411
flalurin            912
cuxirin             829
kediborin           689
devacin             633
spifistime          595
genetramycicin      593
lehydrome           531
debome              524
prazinib            389
antimab             137
mamate              105
hidizuzunib          63
glycogane            50
gosate               43
flacelfatastat       12
vivafastat           12
Name: drug_name, dtype: int64

In [48]:
# Cross tabulation between GENDER and APPROVE_LOAN
CrosstabResult=pd.crosstab(index=df['diagnosis_letter'],columns=df['drug_name'])
print(CrosstabResult)
 
# importing the required function
from scipy.stats import chi2_contingency
 
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)
 
# P-Value is the Probability of H0 being True
# If P-Value&gt;0.05 then only we Accept the assumption(H0)
 
print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

drug_name         antimab  bovirol   brede  choxestamenium  cibroniudosin  \
diagnosis_letter
A                     137        0       0               0              0
B                    4665     2885       0               0           4012
C                       0        0     318               0              0
D                       0        0       0               0              0
E                       0        0       0               0              0
G                       0   164190       0           70889              0
H                  247269        0       0           19576              0
I                       0        0       0              36              0
J                   25651        0       0               0              0
K                       0        0       0               0         155742
L                    4315    17636    1231               0              0
M                       0        0    2569             678              0
N                   11735     3937       0               0          22951
O                       0    15534       0               0              0
P                       0        0  114462               0              0
Q                       0     6175       0           13391              0
R                       0      103       0               0              0
S                       0        0       0               0              0
T                   10651        0       0               0              0
U                       0        0       0               0              0
V                       0        0    2349               0              0
W                       0        0       0            6862              0
X                       0        0       0               0              0
Y                       0        0      12               0              0
Z                       0        0       0               0           1582

drug_name         cicrochoric  colade  colifunene  cupitelol  cuxirin  ...  \
diagnosis_letter                                                       ...
A                           0       0        2216          0      829  ...
B                           0       0           0          0        0  ...
C                          11     124           0          0        0  ...
D                           0       0           0          0        0  ...
E                       39113       0         324       3492        0  ...
G                       15108       0         279        534        0  ...
H                           0       0       83011          0     3891  ...
I                           0       0       42171          0        0  ...
J                          12       0         669          0        0  ...
K                           0       0           0          0    41024  ...
L                           0    1060           0          0        0  ...
M                           0    2945           0          0        0  ...
N                           0       0           0          0        0  ...
O                           0       0           0          0        0  ...
P                       31275  118992           0          0        0  ...
Q                           0       0           0     178487        0  ...
R                           0       0           0          0        0  ...
S                           0       0           0          0        0  ...
T                         687       0           0          0        0  ...
U                           0       0       78241          0        0  ...
V                           0    2456           0      22565        0  ...
W                        1588       0        2133      96386        0  ...
X                        4507       0           0          0        0  ...
Y                           0       0       21320          0     6176  ...
Z                           0       0           8          0        0  ...

drug_name         tanoclolol  thiostasteglume  tocilic  tocrocin  todiadianic  \
diagnosis_letter
A                          0             1411        0         0            0
B                          0                0        0       886        34942
C                          0                0     7973         0            0
D                          0                0        0         0            0
E                       3832              426      105         0          180
G                     200840                0        0       149            0
H                          0             4390   230277         0            0
I                          0                0    15950         0            0
J                          0                0        0         0            0
K                     175974                0        0         0            0
L                          0                0        0      3580            0
M                          0                0    42798         0            0
N                          0                0     1538         0         1280
O                          0                0        0         0            0
P                        699                0    38085         0            0
Q                          0                0        0         0            0
R                          0                0        0         0            0
S                          0                0        0       158            0
T                          0                0        0         0            0
U                          0                0        0         0            0
V                      25494                0        0         0            0
W                     106478                0        0         0          313
X                          0              242        0         0            0
Y                          0                0        0         0            0
Z                          0            20221        0     19785            0

drug_name         tovane  tricatripride  tugesutin  vivafastat  vocopirin
diagnosis_letter
A                   2294              0          0          12       2295
B                      0              0          0           0          0
C                      0             58      16987           0          0
D                      0              0          0           0          0
E                    369              0          0           0          0
G                      0              0          0           0          0
H                  85807              0        655           0          0
I                      0              0          0           0          0
J                    877              0          0           0          0
K                      0              0          0           0     120551
L                      0              0          0        5962        961
M                      0            853          0           0          0
N                      0              0          0          12          0
O                      0              0          0           0          0
P                      0          39130          0           0          0
Q                      0              0      60778           0          0
R                      0              0          0           0          0
S                      0              0          0           0          0
T                      0              0         24          46          0
U                  81326              0      27195           0          0
V                      0            824          0           0          0
W                   2201              0          0           0          0
X                      0              0         60           0          0
Y                 144161              0          0           0      18487
Z                     26              0          0       49511          0

[25 rows x 77 columns]
The P-Value of the ChiSq Test is: 0.0